body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 50px;
}
.orange-color{
  color: orange;
}
section{
  display: flex;
  margin-bottom: 200px;
}
.half-width{
  width: 50%;
  padding-left: 5%;
}
.half-width img{
  width: 60%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  display: inline-block;
  box-shadow: 2px 4px rgb(224, 224, 224);
}
.link-button:hover{
background-image: linear-gradient(#f7981c, #FFCB1B);
box-shadow: none;
}
.half-width a{margin-top: 25px;}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big img{
  width: 80%;
}
.dream-big h1{
  color: #FFA500;
  margin-bottom: 0;
}
.dream-big-right{
  padding-top:2%;
  padding-right: 10%;
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right top;
}